<div  class="gallery">
	<div class="gallery__info">
		<h2 class="gallery__info-sec">Added {{gallery.portfolioGames.length}} Games to Porfolio</h2>
		<!-- <h3 class="gallery__info-sec">Games in Portfolio : {{gallery.portfolioGames.length}}</h3> -->
	</div>
    <section data-ng-hide="!gallery.allGames.length" class="gallery__search">
		<input class="search__input" type="text" data-ng-model="gallery.search" placeholder="Search by 'name'" />
	</section>
	<section class="gallery__list">
		<article data-ng-show="!gallery.allGames.length">
			Oooops!!! Seems there aren't available games.
		</article>
		<article class="gallery__item" data-ng-repeat="game in gallery.allGames | filter:{ name: gallery.search }" data-ng-click="gallery.addGame(game, $index)">
			<span class="gallery__item--mask gallery__item--added" data-ng-class="{'hide':!game.isInPortfolio}">
		        <h1>Already Added</h1>
		        <p>You have already added {{gallery.portfolioGames.length}} games</p>
		    </span>
			<span class="gallery__item--mask">
		        <h1>Add To Portfolio</h1>
		        <p>You have already added {{gallery.portfolioGames.length}} games</p>
		    </span>
			<h3 class="gallery__item--title">{{game.name}}</h3>
			<!-- <em>Lorem Ipsum Description</em> -->
			<img data-ng-src="{{game.images['170x80']}}">
			<p class="gallery__item--action gallery__item--action--right">
				<a  href="javascript:void(0)">
					Add to portfolio
				</a>
			</p>
		</article>
	</section>
</div>
    