<div  class="patients">
	<header>
	</header>
	<section class="patients__list">
<!-- 		<article data-ng-show="!gallery.allGames.length"> -->
<!-- 			Seems there aren't patiens. -->
<!-- 		</article> -->
		<header>
			<div>
				First name
			</div>
			<div>
				Last name
			</div>
			<div>
				Status
			</div>
		</header>
		<article class="patient">
			<div class="patient_info">
				Peter
			</div>
			<div class="patient_info">
				Parker
			</div>
			<div class="patient_status--good">
				Good
			</div>
		</article>
		<article class="patient">
			<div class="patient_info">
				Peter2
			</div>
			<div class="patient_info">
				Parker2
			</div>
			<div class="patient_status">
				Unknown
			</div>
		</article>
	</section>
</div>
    